// SLiM script for background selection simulation
// requires SLiM version 3.6 or later
// use the "burnin.trees" output for analysis, 10N burn-in

initialize() {
    initializeSLiMOptions(keepPedigrees=T);
    initializeTreeSeq();

    defineConstant("outputPathPrefix", "../output/5_xp_small/");
    defineConstant("d_chr", 2500); // 2.5 mb
    defineConstant("d_rr", 1e-8);
    defineConstant("d_mr", 1.29e-8); // mutation rate per base per generation
    defineConstant("d_ne", 10000); 
    defineConstant("BURN_IN", 100000); // burn in 10*Ne


    initializeMutationRate(d_mr);
    initializeMutationType("m1", 0.5, "f", 0.0); // neutral 
    initializeGenomicElementType("g1", m1, 1.0); // m1 is mutation type used in this region, all mutations use m1
    initializeGenomicElement(g1, 0, d_chr - 1);
    initializeRecombinationRate(d_rr);
}


1 early(){
  defineConstant("simID", getSeed());
  sim.addSubpop("p1", d_ne); 
}

BURN_IN late() { // run to generation 10Ne, Burn-in phase to allow the population to equilibrate 
    prefix = outputPathPrefix + "burnin";
    cat("prefix: "+ prefix + "\n");
    sim.treeSeqOutput(prefix + ".trees");           //output the final burnin tree

    //optional: save the state of the simulation
    //sim.outputFull(outputPathPrefix+"/slim_" + simID + ".txt"); // save the state of the simulation
}

